.tab{
    color: white;
    // border-color: red;
    // border-style: solid;
    min-width: 20vw;
    background: url("./images/circle-scatter-haikei(1).svg");
    background-repeat: no-repeat;
    background-size: cover;
}