
.box {
    background: #F2F3F0;
    background-repeat: no-repeat;
    background-size: cover;
    // border-style:solid;
    //  border-color: red;
    min-width: 78.9vw;
    background: url("./images/background.svg");
    &__booklist {
        // border-style:solid;
        // border-color: blue;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
        margin-left:100px;
        margin-right:100px;
        max-width: 78.9vw;
        justify-items: center;
        
		
	}
}
