
.box{
    text-align: center;
    position: relative;
   
    &__searchbar{
        padding:10px;
        padding-right:100px;
        margin:10px;
        border-radius: 40px;
        border-width: 2px;
        border-style: solid;
        margin-top: 30px;
        
        border-color: #ff0000;
    }
    &__searchbar:focus{
        outline:0;
        border-color: #a3caab;
       
    }
    &__logo{
        position: absolute;
        left:20px;
        top:10px;
    
    }
}